a img {
  height: 100%;
}

.nav-image-container {
  height: 3vw;
  margin: 1vh;
}

.red-text {
  color: --bs-danger-text-emphasis;
}

.active {
  text-decoration: overline;
  text-decoration: underline;
}